---
title: "Projects"
layout: default
---

<h1>My projects</h1>

{% if site.github.public_repositories %}
  {% assign sorted_repositories = site.github.public_repositories | sort: 'watchers_count' %}
  {% for repository in sorted_repositories reversed %}
    {% capture description_length %}{{ repository.description | size }}{% endcapture %}
    {% if description_length > 5 %}
    {% if repository.fork == false %}
    <h2><a href="{{ repository.html_url }}" target="_blank">{{ repository.name }}</a></h2>
    <p>{{ repository.description }}</p>
    {% endif %}
    {% endif %}
  {% endfor %}
{% endif %}
