body {
    margin: 0;
    padding: 0;
    font-family: 'Pontano Sans', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Lato', sans-serif;
    font-weight: normal;
}

a {
    color: #428bca;
    text-decoration: none;
}

#header {
    background: #fff;
}

#header h1 {
    margin: 0;
    padding-top: 15px;
    padding-left: 5%;
}

#header h1 a {
    color: #000;
}

main {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 100%;
}

#nav {
    padding-bottom: 10010px;
    margin-bottom: -10000px;
    float: left;
    width: 230px;
    margin-left: -100%;
    background: #fff;
}

#footer {
    clear: left;
    width: 100%;
    background: #fff;
    text-align: center;
    padding: 4px 0;
}

#wrapper {
    overflow: hidden;
    margin-left: 5%;
    margin-right: 10%;
}

#content {
    margin-left: 230px; /* Same as 'nav' width */
}

.innertube {
    margin: 15px; /* Padding for content */
    margin-top: 0;
}

p {
    color: #555;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul a {
    text-decoration: none;
}

img {
    margin-left: 10%;
    margin-right: auto;
    max-width: 600px;
}

ul.post__list {
    list-style: none;
}

li.post__item {
    padding: 5px 0 5px 0;
}

.post__date {
    font-family: 'Droid Sans Mono';
    font-size: 0.8em;
    color: grey;
}

a.post__link {
    padding-left: 6px;
}

code {
    font-family: 'Droid Sans Mono';
}
