/* Defaults */
body {
  margin: 40px auto;
  max-width: 650px;
  line-height: 1.6;
  font-size: 1.2em;
  color: #444;
  padding: 0 10px;
  font-family: 'Open Sans', sans-serif;
  background: white;
}
h1, h2, h3 {
  line-height:1.2
}
main img {
  max-width: 80%;
  display: block;
  margin: 0 auto;
}
code {
  font-size: 16px;
  white-space: pre-wrap;
  white-space: -moz-pre-wrap;
  white-space: -pre-wrap;
  white-space: -o-pre-wrap;
  word-wrap: break-word;
}
a {
  color: #57A3E8;
  transition: color ease 0.2s;
  text-decoration: none;
}
header .title__link {
  color: #222;
  text-decoration: none
}

/* Menu */
.menu__list {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.menu__list__item {
    float: left;
}

.menu__list__item__link {
    display: inline-block;
    text-align: center;
    padding: 14px 16px;
}
/* Blog post */
.post__title__link {
  text-decoration: none;
  color: #222;
}
.post__date {
  color: #9EABB3;
}
/* Timeline */
.timeline__entry__date {
  font-style: italic;
}

/* Pygments syntax highlighting */
code .hll { background-color: #ffffcc }
code .c { color: #60a0b0; font-style: italic }
code .err { border: 1px solid #FF0000 }
code .k { color: #007020; font-weight: bold }
code .o { color: #666666 }
code .cm { color: #60a0b0; font-style: italic }
code .cp { color: #007020 }
code .c1 { color: #60a0b0; font-style: italic }
code .cs { color: #60a0b0; background-color: #fff0f0 }
code .gd { color: #A00000 }
code .ge { font-style: italic }
code .gr { color: #FF0000 }
code .gh { color: #000080; font-weight: bold }
code .gi { color: #00A000 }
code .go { color: #808080 }
code .gp { color: #c65d09; font-weight: bold }
code .gs { font-weight: bold }
code .gu { color: #800080; font-weight: bold }
code .gt { color: #0040D0 }
code .kc { color: #007020; font-weight: bold }
code .kd { color: #007020; font-weight: bold }
code .kn { color: #007020; font-weight: bold }
code .kp { color: #007020 }
code .kr { color: #007020; font-weight: bold }
code .kt { color: #902000 }
code .s { color: #4070a0 }
code .na { color: #4070a0 }
code .nb { color: #007020 }
code .nc { color: #0e84b5; font-weight: bold }
code .no { color: #60add5 }
code .nd { color: #555555; font-weight: bold }
code .ni { color: #d55537; font-weight: bold }
code .ne { color: #007020 }
code .nf { color: #06287e }
code .nl { color: #002070; font-weight: bold }
code .nn { color: #0e84b5; font-weight: bold }
code .nt { color: #062873; font-weight: bold }
code .nv { color: #bb60d5 }
code .ow { color: #007020; font-weight: bold }
code .w { color: #bbbbbb }
code .m, code .mf, code .mh, code .mi, code .mo, code .sb, code .sc, code .sd, code .s2, code .se, code .sh  { color: #40a070 }
code .sd { font-style: italic }
code .se { font-weight: bold }
code .sh { color: #4070a0 }
code .si { color: #70a0d0; font-style: italic }
code .sx { color: #c65d09 }
code .sr { color: #235388 }
code .s1 { color: #4070a0 }
code .ss { color: #517918 }
code .bp { color: #007020 }
code .vc, code .vg, code .vi { color: #bb60d5 }
code .il { color: #40a070 }
