/* ==========================================================================
   TYPE
   - Copy
   - Type Scale
   ========================================================================== */

/* Google Fonts */
body {
  font-family: 'Lora', sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Vollkorn', serif;
}

nav {
  font-family: 'Vollkorn', serif;
}

.post__date {
  font-family: 'Vollkorn', serif;
}

/* Copy ========================================================================== */

.intro {      font-size: 32px; }
blockquote {  font-size: 1.5em; }
p {           font-size: 20px; }



/* Type Scale
   ========================================================================== */

h1,.f1 { font-size: 3em; }