{% include "system.j2" %}

http {
  {% include "http.j2" %}

  {% include 'security/content_security_policy.j2' %}

  {% for additional_header in additional_headers %}
    {% for header, value in additional_header.items() %}
    add_header {{header}} "{{value | safe}}";
    {% endfor %}
  {% endfor %}

  {% include 'security/strict_transport_security.j2' %}

  {% include 'security/public_key_pinning.j2' %}

  {% for unset_header in unset_headers %}
  proxy_hide_header         {{unset_header}};
  {% endfor %}

  {% include 'server.j2' %}

}
