---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="data:;base64,iVBORw0KGgo=" />
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>
      {{ page.title }}
    </title>
    <meta content="{{ site.author.name }}" name="author" />
    <meta content="{{ site.description }}" name="description" />
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href='/feed.xml' rel='alternate' type='application/atom+xml'>
    <link rel="author" href="{{ site.author.url }}" />
    <link rel="canonical" href="{{ site.canonical }}{{ site.url }}{{ page.url | replace:'index.html',''}}">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <style type="text/css">{% include style.css %}</style>
  </head>
  <body itemscope itemtype="http://schema.org/WebPage">
  <!--[if lt IE 7]>
    <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
  <![endif]-->

    <header>
        <h1 class="title"><a class="title__link" href="/">{{ site.author.name }}</a></h1>
        {% include navigation.html %}
    </header>

    <main>
          {{ content }}
    </main>

    <footer id="footer">
          <div class="license"><a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_GB">{% include creative_commons_logo.html %}</a> niklaslindblad.se by Niklas Lindblad is licensed under a <a target="_blank" href="https://creativecommons.org/licenses/by-nc-sa/4.0/deed.en_GB">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 License</a>.</div>
    </footer>
  </body>
</html>
