---
layout: compress
---
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="IE=edge" http-equiv="X-UA-Compatible">
    <title>
      {{ page.title }}
    </title>
    <meta content="{{ site.author.name }}" name="author">
    <meta content="{{ site.description }}" name="description">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <link href='/feed.xml' rel='alternate' type='application/atom+xml'>
    <link href="{{ site.canonical }}" rel="canonical">
    <meta content="width=device-width, initial-scale=1" name="viewport">
    <link href="/css/style.css" rel="stylesheet">
  </head>
  <body>
    <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

    <header>
      <nav>
        {% include navigation.html %}
      </nav>
    </header>

    <main>
          {{ content }}
    </main>

    <footer id="footer">
    </footer>
  </body>
</html>